*{
    padding:0;
    margin:0;
    font-size:100%;
    
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#branchname span{
    color:red;
}

#branchname{
    font-size:5vw;
    padding:2rem;
    
    animation:zero-ani calc(var(--i) + 2.5s) ,show-text 1s calc(var(--i) + 2.5s)  linear;
    text-transform: uppercase;
    
    
    font-weight: lighter;
        letter-spacing: 1.5px;
        color:white;
}





/* animations */

.wrapper {
    display:flex;
    align-items: center;
    gap:1rem;
    padding-left:0.5rem;
    
   
    height:100vh;
    animation:wrapper 3s linear var(--i) forwards;
    background-color:#000000;
    
    
}
:root{
    --i:1s;
    
}
.wrapper .branch-name{

    animation:zero-ani calc(var(--i) + 2.5s) ,show-text 1s calc(var(--i) + 2.5s)  linear;
   
    color:white;

}

#svg-container{
    width:10rem;
}
svg{
    max-width:100%;
}


svg{
    animation:svg-translate  3s backwards linear var(--i);
}


#outersmall {
    animation: rotation-animation1 1.5s linear infinite;
    animation-delay: 0.15s;
    transform-origin: center;
    transform-box: fill-box;

}

#outerlarge {
    animation: circle 1.5s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
    animation-delay: 0.15s;
}

#hat {
    animation: translation-animation1 1s linear infinite alternate;
    transform-origin: top;
    transform-box: fill-box;
    animation-delay: 0.15s;

}






/* lets start the animation  */
@keyframes show-text {
    from{
        filter:blur(5px);
        transform:translateX(-50px);
        opacity:0;
    }
    to{
        filter:blur(0);
        transform:translateX(0);
        opacity:1;
    }
    
}
@keyframes wrapper {
    from{
        height:100vh;
    }
    to{
        height:300px;
    }
    
}
@keyframes svg-translate{
from{
    transform:translate(calc(50vw - 200px),0%);
}
to{
    transform:translate(0%,0%);
}
}
@keyframes zero-ani {
    0%,100%{
        opacity:0;
    }
    
}
@keyframes one-ani {
    0%,100%{
        filter:blur(0px);
        transform:translateY(0%) scale(1)  ;
        opacity:1;
    }
    
}

@keyframes translation-animation1 {
    from {
        transform: translate(0px, 0px);
    }

    to {
        transform: translate(0px, 10px);
    }
}

@keyframes circle {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(-360deg);
    }

}

@keyframes rotation-animation1 {
    from {
        transform: rotateZ(0deg);

    }

    to {

        transform: rotateZ(360deg);

    }

}





